* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Rubik', sans-serif;
    min-width: 375px;
    
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1170px;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid red; */

}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    color: #95a1bb;
    margin-bottom: 40px;
    
}



header {
    /* width: 100vw; */
    background-color: #0a61f7;
    padding: 14px 0;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    gap: 24px;
}

.hamburger-menu {
    display: none;
}

.menu-icon {
    display: none;
}

.menu-link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.6;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #fff;

}

.hero-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 800px;
}

h1 {
    font-weight: 500;
    font-size: 58px;
    line-height: 1.1;
    color: #363940;
    margin-bottom: 30px;
}

.hero-section .text {
    max-width: 380px;
}


.button {
    border-radius: 4px;
    width: 152px;
    height: 50px;
    background-color: #0a61f7;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
    border: none;


}

button {
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    transform: translateY(-5px);
}

/* .img {
    border-radius: 10px 10px 0 0;
    width: 656px;
    
    height: 650px;
    background-color: url("path_to_image");
} */

.hero-section .img {
    border-radius: 10px 10px 0 0;
    align-self: flex-end;
    max-width: 656px;
    width: 100%;
}

.rates-section {
    padding: 100px 0;
    background-color: #f9fafc;
}

.rates-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.3;
    color: #363940;
    /* text-align: center; */
}

.rates-section .section-title {
    margin-bottom: 20px;
}

.table {
    border-collapse: collapse;
}

th,
td {
    width: 240px;
    border: 1px solid #95a1bb;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    line-height: 1.5;
    color: #363940;
    padding: 15px 20px 15px 20px;
}


.table-subtitle {
    text-align: left;
    padding-left: 20px;
}

.gray {
    color: #95a1bb;
}

.table-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;

}

.table-footer td {
    padding: 30px 50px;
}

.table-button {
    border: 1px solid #0a61f7;
    border-radius: 4px;
    /* НЕ нужно в будущем ширина и высота кнопки */
    width: 140px;
    padding: 8px;


    font-weight: 500;
    font-size: 12px;
    line-height: 1.6;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #0a61f7;
}

.active {
    background-color: #0a61f7;
    color: #fff;
}

.table-link {
    color: #0a61f7;
}

.Create-account-section {
    padding: 100px 0;
    /* padding-left: 130px; */
}

.account-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Create-account-section .section-title {
    margin-bottom: 50px;
}

.Create-account-section .text {
    max-width: 500px;
    text-align: justify;
}

.list {
    list-style-image: url(./assets/images/Check.png);
}

.list-item {
    margin-left: 30px;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    color: #363940;
}

.form .button {
    width: 100%;


}

.form {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.stack,
fieldset {
    display: flex;
    gap: 30px;
}

.fields-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

input,
select,
fieldset,
textarea {
    border: 1px solid #95a1bb;
    border-radius: 4px;
    padding: 14px 15px;
    /* margin-bottom: 20px; */
}

input,
select,
fieldset,
textarea,
label,
legend,
input::placeholder,
textarea::placeholder,
select::placeholder {
    color: #95a1bb;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    font-family: inherit;
}

input[type="text"] {
    width: 100%;
}

input[type="email"],
input[type="date"],
input[type="password"],
select {
    width: 230px;
    height: 50px;
    flex-grow: 1;
    /* margin-right: 20px; */
}

input[type="date"],
input[type="email"],
input[type="radio"],
input[type="password"],
input[type="checkbox"] {
    cursor: pointer;
}


input [type="date"] {}

fieldset,
textarea {
    width: 100%;
}

fieldset {
    padding: 30px 15px;

}



textarea {
    min-height: 80px;
    resize: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: url(./assets/images/Calendar.svg) no-repeat;
}

select {
    background: url(./assets/images/Arrow-down.svg) no-repeat right 15px top 50%;
    appearance: none;
}



footer {
    background-color: #0a61f7;
    padding: 20px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    color: #fff;
}

@media (max-width:1400px) {

    .hero-wrapper{
        min-height: auto;
    }

    .hero-wrapper,
    .account-wrapper {
        flex-direction: column;
        align-items: flex-start;

    }

    .hero-info {
        margin: 100px 0px 80px;
        padding-left: 15px;
    }

    

    .hero-section .img {
        align-self: center;
    }

    /* .rates-section{
        width: 768px;
        
    } */



    .table-wrapper {
        overflow: auto;
        width: 100%;

    }

    .table {
        width: 940px;
    }

    .account-wrapper {
        gap: 70px;
    }

    .form {
        align-self: center;
    }

    .Create-account-section .text {
        max-width: unset;
    }

}

@media (max-width: 576px) {



    .menu {
        display: none;
    }

    /* .menu-icon {
        display: block;
    } */

    .hamburger-menu {
        display: flex;




    }

    .menu__toggle {
        visibility: hidden;
    }

    .menu__btn {
        display: flex;
        /* используем flex для центрирования содержимого */
        align-items: center;



        /* центрируем содержимое кнопки */
        /* position: fixed; */
        top: 20px;
        left: 20px;
        width: 38px;
        /* height: 22px; */

        cursor: pointer;
        z-index: 1;
    }

    /* добавляем "гамбургер" */
    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
        display: block;
        position: absolute;
        width: 38px;
        height: 2px;
        background-color: #fff;
    }

    .menu__btn>span::before {
        content: '';
        top: -8px;
    }

    .menu__btn>span::after {
        content: '';
        top: 8px;
    }

    .menu {
        display: flex;
        flex-direction: column;
        visibility: hidden;
        position: fixed;
        top: 76px;
        right: -100%;
        width: 200px;
        height: 100%;
        background-color: #0a61f7;
        
        
        
        margin: 0;
        padding: 80px 0;
        list-style: none;
        text-align: center;
        
        /* box-shadow: 1px 0px 6px rgba(0, 0, 0, .2); */
    }

    /* элементы меню */

    .menu-link:checked~.menu__btn>span {
        transform: rotate(45deg);
    }

    .menu__toggle:checked~.menu__btn>span::before {
        top: 0;
        transform: rotate(0);
    }

    .menu__toggle:checked~.menu__btn>span::after {
        top: 0;
        transform: rotate(90deg);
    }

    .menu__toggle:checked~.menu {
        visibility: visible;
        /* left: 0; */
        right: 0;
    }

    .hero-info{
        margin: 60px 0;
    }

    h1 {
        font-size: 52px;
    }

    .hero-section .img  {
        max-width: 656px;
        width: 100%;
        align-self: flex-end;
    }

    .rates-section .text{
        text-align: center;
    }

    .account-wrapper{
        gap: 60px;
    }
    
    label{
        white-space: nowrap;
    }

    fieldset{
        flex-wrap: wrap;
        row-gap: 20px
    }


}